<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">
    <select id="getMembers" resultType="models.member.Member">
        SELECT * FROM MEMBER
    </select>
    <insert id="register">
        <selectKey keyProperty="userNo" order="BEFORE" resultType="long">
            SELECT SEQ_MEMBER.nextval FROM DUAL
        </selectKey>

        INSERT INTO MEMBER (USER_NO, USER_ID, USER_PW, USER_NM, EMAIL)
        VALUES (#{userNo}, #{userId}, #{userPw}, #{userNm}, #{email})
    </insert>
    <update id="update">
        UPDATE MEMBER
            SET
                USER_PW = #{userPw},
                USER_NM = #{userNm},
                EMAIL = #{email}
        WHERE USER_ID = #{userId}
    </update>

    <delete id="delete">
        DELETE FROM MEMBER WHERE USER_ID=#{userId}
    </delete>
</mapper>