<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/common}">

<main layout:fragment="content">
    <h1 th:text="#{회원가입}"></h1>

    <form method="post" th:action="@{/member/join}" th:object="${requestJoin}">
        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <input type="text" name="userId" th:field="*{userId}">
            </dd>
        </dl>

        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="userPw" th:field="*{userPw}">
            </dd>
        </dl>
        <dl>
            <dt th:text="#{비밀번호_확인}"></dt>
            <dd>
                <input type="password" name="confirmPw" th:field="*{confirmPw}">
            </dd>
        </dl>

        <dl>
            <dt th:text="#{회원명}"></dt>
            <dd>
                <input type="text" name="userNm" th:field="*{userNm}">
            </dd>
        </dl>

        <dl>
            <dt th:text="#{이메일}"></dt>
            <dd>
                <input type="text" name="email" th:field="*{email}">
            </dd>
        </dl>

        <dl>
            <dt th:text="#{취미}"></dt>
            <dd>
                <th:block th:each="h, status : ${hobbies}">
                    <input type="checkbox" name="hobby" th:value="${h}"
                           th:id="${'hobby' + status.count}" th:field="*{hobby}">
                    <label th:for="${'hobby' + status.count}" th:text="${h}"></label>
                </th:block>
            </dd>
        </dl>

        <dl>
            <dt th:text="#{주소}"></dt>
            <dd>
                <input type="text" name="addr.zipcode" th:field="*{addr.zipcode}">
                <input type="text" name="addr.address" th:field="*{addr.address}">
                <input type="text" name="addr.addressSub" th:field="*{addr.addressSub}">
            </dd>
        </dl>

        <div>
            <input type="checkbox" name="agree" value="true" id="agree">
            <label for="agree" th:text="#{회원가입_약관에_동의합니다.}"></label>
        </div>

        <button type="submit" th:text="#{가입하기}"></button>
    </form>
</main>

</html>